* { /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik Mono One', sans-serif;
}

/* MENU DI NAVIGAZIONE */
.navbar {
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    z-index: 9;
}

.navbar ul {
    list-style: none;
    font-size: 0;
}

.navbar li {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
    margin-left: 2rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

/* BONUS: EFFETTI SPECIALI E ABBELLIMENTI MENU NAVIGAZIONE */
.navbar a:hover { /* OMBRA AL PASSAGGIO SUI BOTTONI DEL MENU */
    box-shadow: 0 .4rem .4rem rgba(0,0,0,.7);
}

.navbar a:active { /* BACKGROUND BOTTONE DIVERSO QUANDO SI CLICCA */
    background-color: grey;
}

/* CONTENITORE SCARPA CHE PRENDE TUTTO LO SCHERMO */
article {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* CONTENITORE SCARPA CENTRATO */
article .content {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article .content img {
    width: 100%;
}

/* COLORE SFONDI E CARATTERI */
#shoes-01 {
    background-color: red;
}

#shoes-02 {
    background-color: green;
}

#shoes-03 {
    background-color: yellow;
}

#shoes-01 h1,
#shoes-02 h1 {
    color: yellow;
}

#shoes-03 h1 {
    color: green;
}